node_modules/
.next/
out/
.vercel
.env
.env*.local
*.log
*.tsbuildinfo
next-env.d.ts
.DS_Store
ml/out/
ml/**/__pycache__/
*.pyc
.ipynb_checkpoints/

# notebook step-10 publish copy (created by the Kaggle run)
out-export/
